@import "tailwindcss";

.access_token {
    @apply text-green-700;
}

.refresh_token {
    @apply text-blue-700;
}

.expires_in {
    @apply text-purple-700;
}

.client_id {
    @apply text-yellow-600;
}

.redirect_uri {
    @apply text-green-700;
}

.state {
    @apply text-blue-700;
}

.code_challenge {
    @apply text-purple-700;
}

.code_challenge_method {
    @apply text-red-700;
}

.payload_value {
    @apply italic;
}

.code {
    @apply text-purple-700;
}

.code_verifier {
    @apply text-red-700;
}

@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.animate-click-once {
    animation: click-animation 500ms ease-in-out 1;
    transform-origin: top left;
}

.lightactor > svg {
    height: 96px;
    width: 96px;
}
